extends layout

block startContent
  
  h1(class='title')= title

  p(class="welcomeDescription") Hej , jedziesz w góry ??? Dodaj przejazd , napisz przez jakie miejscowości, podaj kontakt do siebie i zabierz kogoś.

  p(class="welcomeDescription") Szukasz przejazdu w góry ??? Sprawdź wpisując "nazwę miejscowośći" czy ktoś z niej wyrusza , przejeżdża lub do niej jedzie...  


  
