extends layout

block startContent
  
  h1(class='title')= title

  p(class="welcomeDescription") Hej , jedziesz w góry ??? Dodaj przejazd , napisz przez jakie miejscowości, podaj kontakt do sibie i zabierz kogoś ... 

  
