extends layout

block startContent
  
  h1(class='title')= title

  p(class="welcomeDescription") Hej , jedziesz w góry ??? Dodaj przejazd , napisz przez jakie miejscowości, podaj kontakt do siebie i zabierz kogoś.

  p(class="welcomeDescription") Szukasz przejazdu w góry ??? Sprawdź wpisująć "nazwę miejscowośći" czy ktoś z niej, przez nią lub do niej nie jedzie.  


  
